
.auth-card {
    width: 550px;
    border-radius: 20px;
    padding: 95px 50px 50px;
}

.auth-card-title {
    text-transform: uppercase;
    color: #263238;
    font-size: 3rem;
    font-weight: normal;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
}